<!-- <div class="row" style="height: 100%; position: relative">
    <div class="col-md-12 map-container" style="padding: 0;">
        <agm-map #gm
        [latitude]="lat" 
        [longitude]="lng"
        [zoom]="mapZoomLevel"
        [disableDefaultUI]="true"
        [zoomControl]="false"
        [usePanning]="true"
        (mapClick)="agmMapClick(gm)"
        (zoomChange)="agmZoomChange(gm)"
        >

            <agm-marker 
              *ngFor="let employee of (employees$ | async)"
              (markerClick)="showDetails(employee)"
              [latitude]="employee.currentLocation.lat"
              [longitude]="employee.currentLocation.lng"
              (mouseOver)="onMouseOver(infoWindow,gm)"
              [iconUrl]=""
              
              >
              
            <agm-info-window #infoWindow>
              <dl class="dl-horizontal marker-info-window">
                <dt>
                  <img [src]="employee.pic.thumb">
                </dt>
                <dd>
                  <span class="name">{{(employee.name.lastName + ', ' + employee.name.firstName) | titlecase}}</span><br>
                  <span class="details-btn" (click)="showDetails(employee)">DETAILS</span>
                </dd>
              </dl>
            </agm-info-window>
            
          </agm-marker>
        </agm-map>
    </div>

    <div class="left-side-bar">
        <div class="container-fluid">
          <div class="row employee" (click)="employeeClick(employee)" *ngFor="let employee of (employees$ | async)">
            <div class="col-md-12">
                <img [src]="employee.pic.thumb">
                <span>{{(employee.name.lastName + ', ' + employee.name.firstName) | titlecase}}</span>
            </div>
          </div>
        </div>
      </div>

    <div class="right-side-bar" [ngClass]="{'show-right-side-bar': (showRightSideBar$ | async)}">
      

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
              <img src="https://res.cloudinary.com/dka3vzadb/image/upload/t_media_lib_thumb/v1517475151/togglearrow_u4imwj.png" alt="togglearrow" class="togglearrow" (click)="hideRightSideBar()">
          </div>
        </div>

        

        
        
        <div *ngIf="(selectedEmployee$ | async) as selectedEmployee">
          <div class="container-fluid" *ngIf="!selectedEmployee?.name">
            <div class="row">
              <div class="col-md-12">
                  <i class="loading fa fa-spinner fa-pulse fa-3x fa-fw"></i>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="selectedEmployee?.name">
              <div class="col-md-12">
                <h3 class="employee-name">{{(selectedEmployee.name.lastName + ', ' + selectedEmployee.name.firstName) | titlecase}}</h3>
              </div>
    
              <div class="col-md-12 avatar-container">
                <img [src]="selectedEmployee.pic.original" alt="" class="avatar">
              </div>
    
              <div class="col-md-12 details">
                <dl class="dl-horizontal">
                  <dt>Status</dt>
                  <dd *ngIf="selectedEmployee.isOnline">Online <i class="fa fa-circle online" aria-hidden="true"></i></dd>
                  <dd *ngIf="!selectedEmployee.isOnline">Offline <i class="fa fa-circle offline" aria-hidden="true"></i></dd>
                </dl>
    
                <div *ngIf="selectedEmployee.isOnline">
                    <dl class="dl-horizontal">
                      <dt>Connection Type</dt>
                      <dd>{{selectedEmployee.connectionType | uppercase}}</dd>
                    </dl>
        
                    <dl class="dl-horizontal">
                      <dt>Battery</dt>
                      <dd>
                        {{selectedEmployee.battery.level}}%
                        <i class="fa battery" [ngClass]="selectedEmployee.battery.batteryClass" [ngStyle]="{'color': selectedEmployee.battery.batteryColor}" aria-hidden="true"></i>
                        <i class="fa fa-plug" aria-hidden="true" *ngIf="selectedEmployee.battery.plugged"></i>
                      </dd>
                    </dl>
        
                    <dl class="dl-horizontal">
                      <dt>Current Location</dt>
                      <dd>{{selectedEmployee.currentLocation.formattedAddress}}</dd>
                    </dl>
    
                    <dl class="dl-horizontal phone">
                      <dt>Phone</dt>
                      <dd>
                        Manufacturer <br><span>{{selectedEmployee.phone.manufacturer | titlecase}}</span><br>
                        Model <br><span>{{selectedEmployee.phone.model}}</span><br>
                        OS <br><span>{{selectedEmployee.phone.platform}}</span><br>
                        
                        
                      </dd>
                    </dl>
                </div>
                
    
                <dl class="dl-horizontal" *ngIf="!selectedEmployeeTimeIn.employee.online">
                  <dt>Logged In Location</dt>
                  <dd>{{selectedEmployee.previousLocation.formattedAddress}}</dd>
                </dl>
    
                <dl class="dl-horizontal">
                  <dt>Selfie</dt>
                  <dd class="view-selfie" (click)="viewSelfie(SelfieModal)">View</dd>

                  <ng-template #SelfieModal >
                    <div class="modal-header">
                      <h4 class="modal-title pull-left">Selfie</h4>
                      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <img [src]="selectedEmployee.selfie.original" alt="selfie" class="selfie">
                    </div>
                  </ng-template>
                </dl>
              </div>
    
              
    
              
    
    
            </div>
        </div>

        
      </div>
    </div>
</div>

 -->



 <!-- <div fxLayout="row" fxFlexFill>
  <div fxFlex="300px">
      <div class="left-side-bar">
        <div class="container-fluid">
          <div class="row employee" (click)="employeeClick(employee)" *ngFor="let employee of (employees$ | async)">
            <div class="col-md-12">
                <img [src]="employee.pic.thumb">
                <span>{{(employee.name.lastName + ', ' + employee.name.firstName) | titlecase}}</span>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div fxFlex>
        <agm-map #gm fxFlexFill
        [latitude]="lat" 
        [longitude]="lng"
        [zoom]="mapZoomLevel"
        [disableDefaultUI]="true"
        [zoomControl]="false"
        [usePanning]="true"
        (mapClick)="agmMapClick(gm)"
        (zoomChange)="agmZoomChange(gm)"
        >

            <agm-marker 
              *ngFor="let employee of (employees$ | async)"
              (markerClick)="showDetails(employee)"
              [latitude]="employee.currentLocation.lat"
              [longitude]="employee.currentLocation.lng"
              (mouseOver)="onMouseOver(infoWindow,gm)"
              [iconUrl]=""
              
              >
              
            <agm-info-window #infoWindow>
              <dl class="dl-horizontal marker-info-window">
                <dt>
                  <img [src]="employee.pic.thumb">
                </dt>
                <dd>
                  <span class="name">{{(employee.name.lastName + ', ' + employee.name.firstName) | titlecase}}</span><br>
                  <span class="details-btn" (click)="showDetails(employee)">DETAILS</span>
                </dd>
              </dl>
            </agm-info-window>
            
          </agm-marker>
        </agm-map>

  </div>
  <div fxFlex="1px" fxLayout="column" class="right-side-bar" [ngClass]="{'show-right-side-bar': (showRightSideBar$ | async)}">
    <div fxFlex="20px">19px
        <img src="https://res.cloudinary.com/dka3vzadb/image/upload/t_media_lib_thumb/v1517475151/togglearrow_u4imwj.png" alt="togglearrow" class="togglearrow" (click)="hideRightSideBar()">
    </div>
  </div>
</div> -->


<mat-drawer-container fxFlexFill>
  <mat-drawer [perfectScrollbar] mode="side" opened="true" class="left-side-bar" fxLayout="column">
    <div *ngFor="let employee of (employees$ | async)" (click)="employeeClick(employee)" fxLayout="row" class="employee">
        <span fxFLex="15"></span>
        <img [src]="employee.pic.thumb" fxFLex="20">
        <div fxFlex fxFlexAlign="center">
          <span>{{(employee.name.lastName + ', ' + employee.name.firstName) | titlecase}}</span>
        </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <agm-map #gm fxFlexFill
      [latitude]="lat" 
      [longitude]="lng"
      [zoom]="mapZoomLevel"
      [disableDefaultUI]="true"
      [zoomControl]="false"
      [usePanning]="true"
      (mapClick)="agmMapClick(gm)"
      (zoomChange)="agmZoomChange(gm)"
      >

          <agm-marker 
            *ngFor="let employee of (employees$ | async)"
            (markerClick)="showDetails(employee, rightSideNav)"
            [latitude]="employee.currentLocation.lat"
            [longitude]="employee.currentLocation.lng"
            (mouseOver)="onMouseOver(infoWindow,gm)"
            [iconUrl]="'/assets/img/marker-' + (employee.isOnline ? 'online' : 'offline') + '.png'"
            
            >
            
          <agm-info-window #infoWindow>
            <dl class="dl-horizontal marker-info-window">
              <dt>
                <img [src]="employee.pic.thumb">
              </dt>
              <dd>
                <span class="name">{{(employee.name.lastName + ', ' + employee.name.firstName) | titlecase}}</span><br>
                <span class="details-btn" (click)="showDetails(employee, rightSideNav)">DETAILS</span>
              </dd>
            </dl>
          </agm-info-window>
          
        </agm-marker>
      </agm-map>
  </mat-drawer-content>

  <mat-drawer [perfectScrollbar]  #rightSideNav mode="push" [(opened)]="isOpenRightSideNav" position="end" class="right-side-bar" fxLayout="column">
      <div fxFlex="30px" fxFlexAlign="start center" class="togglearrow">
          <img src="https://res.cloudinary.com/dka3vzadb/image/upload/t_media_lib_thumb/v1517475151/togglearrow_u4imwj.png" alt="togglearrow" (click)="hideRightSideBar(rightSideNav)">
      </div>

      <div fxFlex fxLayout="column" *ngIf="(selectedEmployee$ | async) as selectedEmployee">
        <div fxFlex fxFlexAlign="center" class="loader" *ngIf="!selectedEmployee?.name">
            <mat-progress-spinner mode="indeterminate" color="accent" diameter="30"></mat-progress-spinner>
        </div>

        <div fxFlex fxLayout="column" *ngIf="selectedEmployee?.name">
            <div fxFlex="40px" class="selected-employee">
              <h3 class="name">{{(selectedEmployee.name.lastName + ', ' + selectedEmployee.name.firstName) | titlecase}}</h3>
            </div>

            <div fxFlex="150px" fxFlexAlign="center" class="pic-container" [ngStyle]="{'background-image': 'url(' + selectedEmployee.pic.original + ')'}">
                <img [src]="selectedEmployee.pic.original" alt="">
            </div>
            <div fxFlex="10px"></div>
            <div fxFlex fxLayout="column" class="other-details" >

                <div fxLayout="row" class="details">
                    <span fxFlex="15px"></span>
                    <span fxFlex="75px" class="details-label">Status</span>
                    <span fxFlex>{{selectedEmployee.isOnline ? 'Online' : 'Offline'}} <i class="fa fa-circle" [ngClass]="{'online': selectedEmployee.isOnline}"  aria-hidden="true"></i></span>
                </div>

                <div fxLayout="row" class="details" *ngIf="selectedEmployee.isOnline">
                    <span fxFlex="15px"></span>
                    <span fxFlex="75px" class="details-label">Connection Type</span>
                    <span fxFlex>{{selectedEmployee.connectionType | uppercase}}</span>
                </div>

                <div fxLayout="row" class="details" *ngIf="selectedEmployee.isOnline">
                    <span fxFlex="15px"></span>
                    <span fxFlex="75px" class="details-label">Battery</span>
                    <span fxFlex>
                      {{selectedEmployee.battery.level}}% 
                      <i class="fa battery" [ngClass]="selectedEmployee.battery.batteryClass" [ngStyle]="{'color': selectedEmployee.battery.batteryColor}" aria-hidden="true"></i>
                      <i class="fa fa-plug" aria-hidden="true" *ngIf="selectedEmployee.battery.plugged"></i>
                    </span>
                </div>

                <div fxLayout="row" class="details" *ngIf="selectedEmployee.isOnline">
                    <span fxFlex="15px"></span>
                    <span fxFlex="75px" class="details-label">Current Location</span>
                    <span fxFlex>{{selectedEmployee.currentLocation.formattedAddress}}</span>
                </div>

                <div fxLayout="row" class="details" *ngIf="selectedEmployee.isOnline">
                    <span fxFlex="15px"></span>
                    <span fxFlex="75px" class="details-label">Phone</span>
                    <span fxFlex class="phone-details">
                      Manufacturer <br><span>{{selectedEmployee.phone.manufacturer | titlecase}}</span><br>
                      Model <br><span>{{selectedEmployee.phone.model}}</span><br>
                      OS <br><span>{{selectedEmployee.phone.platform}}</span>
                    </span>
                </div>

                <div fxLayout="row" class="details" *ngIf="!selectedEmployeeTimeIn.employee.online">
                    <span fxFlex="15px"></span>
                    <span fxFlex="75px" class="details-label">Logged In Location</span>
                    <span fxFlex >{{selectedEmployee.previousLocation.formattedAddress}}</span>
                </div>

                <div fxLayout="row" class="details" *ngIf="!selectedEmployeeTimeIn.employee.online">
                    <span fxFlex="15px"></span>
                    <span fxFlex="75px" class="details-label">Selfie</span>
                    <span fxFlex class="view-selfie" (click)="viewSelfie(SelfieModal)">View</span>
                </div>


                  

                
            </div>
        </div>
      </div>

  </mat-drawer>
</mat-drawer-container>

