
/* 
.right-side-bar{
    position: absolute;
    height: 100%;
    background-color: #24344b;
    width: 21vw;
    right: 0;
    max-width: 300px;
    padding: 5px;
    padding-top: 15px;
    transform: translateX(100%);
    transition: transform 0.4s ease;
} */

.right-side-bar{
    background-color: #24344b;
    width: 300px;
    overflow: hidden;
}

.right-side-bar.show-right-side-bar{
    width: 0px !important;
    max-width: 300px !important;
}

.right-side-bar .togglearrow img{
    cursor: pointer;
    margin: 10px 0 0 10px;
}

.right-side-bar .loader{
    margin-top: 10%;
}

.right-side-bar .name{
    color: white;
    font-weight: bold;
    border-bottom: solid 1px white;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
     
}

.right-side-bar .selected-employee{
    padding: 0 10px;
}

.avatar-container{
    text-align: center;
}
.right-side-bar .pic-container{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    min-width: 150px;
    border: solid white 3px;
}

.right-side-bar .pic-container img{
    opacity: 0;
    height: 100%;
}



.right-side-bar .other-details{
    /* overflow-x: hidden;
    overflow-y: auto; */
    display: unset !important;
    padding-bottom: 20px;
}



.right-side-bar .details{
    padding-top: 0;
    color: white;
    font-size: 14px;
    margin-top: 11px;
    line-height: 17px;
}

.right-side-bar .details .details-label{
    color: #6bb9bb;

}

.right-side-bar .dl-horizontal{
    margin-bottom: 7px;
}

.right-side-bar .dl-horizontal dl{
    font-size: 2vh;
}

.right-side-bar .details dt{
    text-align: left;
    white-space: unset;
    width: 80px;
    font-weight: normal;
    color: #6cb7bc;
    font-size: 2vh;
    text-overflow: unset;
    line-height: 19px;
}

.right-side-bar .details dd{
    color: white;
    margin-left: 0px;
    line-height: 19px;
    margin-left: 85px;
}

.right-side-bar .details dd .battery-icon{
    transform: translateY(-5%);
}

.right-side-bar .details dd .fa-plug, .right-side-bar .details dd .battery{
    margin-left: 5px;
}

.right-side-bar .loading{
    color: white;
    display: block;
    margin: auto;
    margin-top: 50px;
}

.right-side-bar .details .fa-circle{
    margin-left: 5px;
    color: rgb(153, 153, 153);
}

.right-side-bar .details .fa-circle.online{
    color: green;
}

.right-side-bar .details .phone-details{
    color:#86e493!important;
}

.right-side-bar .details .phone-details span{
    color:white;
    padding-left: 15px;
}

.right-side-bar .details .view-selfie:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #67b2bc;
    width: 0;
}

.left-side-bar{
    height: 100%;
    background-color: #24344b;
    width: 250px;
}

.left-side-bar .employee{
    height: 65px;
    min-height: 65px;
    padding: 6px 0px;
    cursor: pointer;
}

.left-side-bar .employee img{
    border-radius: 50%;
    height: 100%;
}

.left-side-bar .employee:hover{
    background-color: #3b4f6a;
}



.left-side-bar .employee span{
    color: #ffffff;
    font-weight: bold;
    line-height: 13px;
    margin-bottom: 2px;
    margin-left: 10px;
}

.left-side-bar .circle-online-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}

.left-side-bar .circle-online-container i{
    font-size: 10px;
    color: #999999;
}

.modal-body img.selfie{
    width: 100%; 
    border-radius: 10px;
}


.marker-info-window{
    margin: 0px;
}

.marker-info-window dt{
    text-align: unset;
    width: auto;
}

.marker-info-window dt img{
    border-radius: 5px;
    max-width: 50px;
}

.marker-info-window dd{
    margin-left: 50px;
}

.marker-info-window dd span.name{
    padding-left: 10px;
    font-size: 14px;
    color: #242e3a;
}

.marker-info-window dd span.details-btn{
    position: absolute;bottom: 0;right: 0;color: #6ab8ba;font-weight: bold;cursor:pointer
}

.dl-horizontal.phone dd{
    color:#86e493!important;
}

.dl-horizontal.phone dd span{
    color: white;
    padding-left: 5px;
}

.notification-loading{
    text-align: center;
    padding-top: 10px;
}

.notification-loading i{
    color: white;
    font-size: 25px;
}