
<div mat-dialog-title>
    <span>Crop Image</span>
</div>


<div mat-dialog-content fxLayout="column">
    <image-cropper *ngIf="!invalidImage"
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="1/1"
    [resizeToWidth]="128"
    format="png"
    (imageCropped)="imageCropped($event)"
    (loadImageFailed)="loadImageFailed()"
    ></image-cropper>

    <div *ngIf="invalidImage" fxFlex="100px" fxLayoutAlign="center center">Invalid file type</div>
</div>
<div mat-dialog-actions>
    <button mat-button color="warn" [mat-dialog-close]>{{invalidImage ? 'Close' : 'Cancel'}}</button>
    <button mat-button color="primary" (click)="onCropClick()" cdkFocusInitial *ngIf="!invalidImage">Crop</button>
  
</div>