.notification-seen{
    background-color: #3b4f6a;
}

.notification-selected{
    background-color: #1f2631;
}

/* .main-container{
    overflow: hidden;
} */

.header{
    color: #587088;
    margin: 20px 18px 15px 18px;
    border-bottom: solid 2px #3b4f6a;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.notifications-container{
    overflow-y: auto;
    min-height: unset !important;
}

.notification{
    height: 65px;
    min-height: 65px;
    padding: 6px 0px;
    cursor: pointer;
}

.notification:hover{
    background-color: #3b4f6a;
}


.notification span.left-space{
    color: #ffffff;
    font-weight: bold;
    line-height: 13px;
    margin-bottom: 2px;
    margin-left: 10px
}

.notification img{
    height: 100%;
    border-radius: 50%;
}

.notification .other-details{
    padding-left: 10px;
}

.notification .name{
    color: #ffffff;
    font-weight: bold;
    line-height: 13px;
    margin-bottom: 2px;
}

.notification .time{
    color: #a1dbe6;
    font-size: 12px;
    margin: 0;
}




.main-container .notifications-container .notification-container{
    height: 100%;
    overflow:auto;
    padding-right: 0;
}

.main-container .notifications-container .notification-container .notification-item{
    padding: 8px;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #24344b;
    cursor: pointer;
}

.notification-item .pic-container{
    padding: 0;max-width: 50px;
}

.notification-item .pic-container img{
    width: 85%;border-radius: 6px;
}

.notification-loading-container{
    margin: 0px;
}
.notification-loading{
    text-align: center;
    padding-bottom: 10px;
}

.notification-loading i{
    color: white;
    font-size: 25px;
}