/* .main-container{
    overflow: hidden;
}

.header{
    background-color: #151f2b;
}

.hamburger{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 11px;
}

.hamburger i{
    font-size: 20px;
}

.navigation-buttons{
    display:flex;
}

.nav-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-right: 15px;
}

.nav-btn.active, .nav-btn:hover{
    background-color: #24344b;
    border-radius: 5px;
}

span.custom-badge{
    position: absolute;
    background-color: #6aa042;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    top: -7px;
    right: -8px;
} 


.logo{
    color: white;
    font-size: 25px;
    padding-left: 50px;
    font-weight: bold;
    margin-right: 25px;
}

.logo span{
    font-weight: normal;
}


a.setting-icon{
    color: white;
    font-size: 30px;
    cursor: pointer;
}

a.admin-avatar img{
    max-height: 40px;
    border-radius: 50%;
    cursor: pointer;
}


.content{
    overflow: auto;
    background-color: #efefef
} */



.main-container{
    overflow: hidden;
}

.header{
    background-color: #151f2b;
    position: relative;
}

.hamburger{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 11px;
    position: absolute;
    height: 100%;
}

.hamburger i{
    font-size: 20px;
}

.navigation-buttons{
    display:flex;
    align-items: center;
    padding: 0 20px;
}

.nav-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
    height: 40px;
}

.nav-btn.active, .nav-btn:hover{
    background-color: #24344b;
    border-radius: 5px;
}

span.custom-badge{
    position: absolute;
    background-color: #6aa042;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    top: -7px;
    right: -8px;
} 


.logo{
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.logo-mobile{
    width: 100%;
    margin: 0;
}
.logo div{
    padding: 7px 0;
    height: 100%;
}

.logo div img{
    height: 100%;
}
.logo span{
    font-weight: normal;
}

.logo .span-bold{
    font-weight: bold;
}

.logo div span{
    font-weight: bold !important;
}

.right-controls{
    display: flex;
    align-items: center;
}

.right-controls a{
    text-decoration: none;
}


a.setting-icon{
    color: white;
    font-size: 30px;
    cursor: pointer;
}

a.admin-avatar img{
    max-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 15px;
}


.content{
    overflow: auto;
    background-color: #efefef
}