<div class="row" style="height: 100%; position: relative">
    <div class="col-md-12 map-container" style="padding: 0;">
        <agm-map #gm
        [latitude]="lat" 
        [longitude]="lng"
        [zoom]="zoom"
        [disableDefaultUI]="true"
        [zoomControl]="false"
        (mapClick)="agmMapClick(gm)"
        >
            <!-- <agm-marker  [latitude]="lat" [longitude]="lng"></agm-marker> -->
            <agm-marker 
              *ngFor="let employeeTimeIn of employeeTimeIns"
              (markerClick)="clickedMarker(employeeTimeIn)"
              [latitude]="employeeTimeIn.map.lat"
              [longitude]="employeeTimeIn.map.lng"
              (mouseOver)="onMouseOver(infoWindow,gm)"
              >
              
            <agm-info-window #infoWindow>
              <dl class="dl-horizontal marker-info-window">
                <dt>
                  <img [src]="employeeTimeIn.employee.pic.thumb">
                </dt>
                <dd>
                  <span class="name">{{(employeeTimeIn.employee.name.lastName + ', ' + employeeTimeIn.employee.name.firstName) | titlecase}}</span><br>
                  <span class="details-btn" (click)="clickedMarker(employeeTimeIn)">DETAILS</span>
                </dd>
              </dl>
            </agm-info-window>
            
          </agm-marker>
        </agm-map>
    </div>

    <div class="left-side-bar">
        <div class="container-fluid">
          <div class="row employee" (click)="employeeDeployedClicked(employeeTimeIn)" *ngFor="let employeeTimeIn of employeeTimeIns">
            <div class="col-md-12">
                <img [src]="employeeTimeIn.employee.pic.thumb">
                <span>{{(employeeTimeIn.employee.name.lastName + ', ' + employeeTimeIn.employee.name.firstName) | titlecase}}</span>
            </div>
          </div>
        </div>
      </div>

    <div class="right-side-bar" [ngClass]="{'show-right-side-bar': rightSideBar}">
      

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
              <img src="assets/img/togglearrow.png" alt="togglearrow" class="togglearrow" (click)="hideRightSideBar(rightSideBar)">
          </div>
        </div>

        <div class="container-fluid" *ngIf="showLoadingRightSideBar">
          <div class="row">
            <div class="col-md-12">
                <i class="loading fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            </div>
          </div>
        </div>


        <div class="row" *ngIf="!showLoadingRightSideBar">
          <div class="col-md-12">
            <h3 class="employee-name">{{(selectedEmployeeTimeIn.employee.name.lastName + ', ' + selectedEmployeeTimeIn.employee.name.firstName) | titlecase}}</h3>
          </div>

          <div class="col-md-12">
            <img [src]="selectedEmployeeTimeIn.employee.pic.original" alt="" class="avatar">
          </div>

          <div class="col-md-12 details">
            <dl class="dl-horizontal">
              <dt>Status</dt>
              <dd *ngIf="selectedEmployeeTimeIn.employee.online">Online <i class="fa fa-circle online" aria-hidden="true"></i></dd>
              <dd *ngIf="!selectedEmployeeTimeIn.employee.online">Offline <i class="fa fa-circle offline" aria-hidden="true"></i></dd>
            </dl>

            <div *ngIf="selectedEmployeeTimeIn.employee.online">
                <dl class="dl-horizontal">
                  <dt>Connection Type</dt>
                  <dd>{{selectedEmployeeTimeIn.connectionType | titlecase}}</dd>
                </dl>
    
                <dl class="dl-horizontal">
                  <dt>Battery</dt>
                  <dd>
                    {{selectedEmployeeTimeIn.battery.percent}}%
                    <i class="fa battery" [ngClass]="selectedEmployeeTimeIn.battery.batteryClass" aria-hidden="true"></i>
                    <!-- <img src="assets/img/battery-3.png" alt="battery" class="battery-icon"> -->
                    <i class="fa fa-plug" aria-hidden="true" *ngIf="selectedEmployeeTimeIn.battery.status"></i>
                  </dd>
                </dl>
    
                <dl class="dl-horizontal">
                  <dt>Current Location</dt>
                  <dd>{{selectedEmployeeTimeIn.currentLocation}}</dd>
                </dl>
            </div>
            

            <dl class="dl-horizontal">
              <dt>Logged In Location</dt>
              <dd>{{selectedEmployeeTimeIn.map.formattedAddress}}</dd>
            </dl>

            <dl class="dl-horizontal">
              <dt>Selfie</dt>
              <dd class="view-selfie" (click)="viewSelfie(SelfieModal)">View</dd>
            </dl>
          </div>

          

          


        </div>
      </div>
    </div>
</div>


<ng-template #SelfieModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Selfie</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img [src]="selectedEmployeeTimeIn.pic.original" alt="selfie" class="selfie">
  </div>
</ng-template>