/* .chat-container{
    background-color: #efefef;
    height: 100%;
}

.msgs-container{
    height: 100%;
}

.chat-container .msg-text-area{
    margin-bottom: 10px;
}

.chat-container textarea.form-control{
    overflow: hidden;
    resize: none;
    margin-bottom: 10px;
}

.msgs .avatar, .msgs .msg {
    padding: 0px 10px;
}

.msgs .msg {
    padding: 0px 0px;
    text-align: center;
    padding-right: 10px;
}



.other-msg .msg p{
    border: 1px solid #c4d8d9;
    background-color: #ffffff;
    border-radius: 3px;
    margin-bottom: 0px;
    padding: 1.8vh 1vw;
    
}

.msg p{
    min-height: 30px;
    text-align: start;
    padding: 7px;
    font-size: 13px;
    line-height: 15px;
    color: #575757;
    padding: 1.8vh 1vw;
}

.msg span{
    font-size: 11px;
    color: #919191;
}

.avatar img{
    border-radius: 5px;
    max-height: 3vw;
}

.other-msg .avatar img{
    margin-left: .2vw;
}

.msg-container.my-msg{
    margin-left: 0px;
}

.my-msg .msg p{
    border: 1px solid #c4d8d9;
    background-color: #d3e7e8;
    border-radius: 3px;
    margin-bottom: 0px;
}

.my-msg .msg{
    padding-right: 0px;
}
.msg-container{
    margin-bottom: 10px;
    padding-left: 10px;
}

.chat-first-row{
    height: 66%;
    padding-bottom: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.msgs ._msgs{
    padding: 10px 10px 10px 0px;
}

.additional-messages-loading{
    text-align: center;
    padding: 10px;
    font-size: 20px;
}



.additional-messages-loading i{
    font-size: 20px;
}


.chatbox-initial-loading i{
    font-size: 30px;
}

.chat-send-button{
    background-color: #24344b;
} */
.main-container{
    /* padding: 10px; */
}

.chatbox-initial-loading{
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

.additional-messages-loading{
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

/* .msgs{

} */

.chat-container{
    overflow-y: scroll;
    overflow-x: hidden;
}
.msg-container{
    margin-top: 12px;
}

.msg-container .avatar img{
    border-radius: 5px;
    max-height: 50px;
}
.msg{
    width: 100%;
    padding: 0 8px;
}



.msg p{
    margin: 0;
    padding: 10px;
    border: solid 1px #ddd;
    background-color: #fff;
    border-radius: 4px;
    font-size: 12px;
}

.msg p.isMe{
    border: solid 1px #bfbfbf;
    background-color: #d3e7e8;
}

.msg span{
    font-size: 11px;
    text-align: center;
    color: #8a8a8a;
}

.typing{
    display:flex;
    align-items:center;
    padding-left: 10px;
}

.chat-controls{
    padding: 12px;
}

.chat-controls textarea{
    margin-bottom: 10px;
}