
.notification, .message{
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.pic-container img{
    border-radius: 50%;
    max-height: 50px;
}

.other-details{
    padding-left: 0px;
    line-height: 18px;
}

.notif-title, .sender-name{
    font-weight: bold;
    font-size: 15px;
}

.notif-name{
    font-weight: bold;
    font-size: 14px;
}

.message-content{
    font-size: 14px;
}

.notif-time, .message-time{
    font-size: 13px;
}

.notification .background{
    position: absolute;
    background-color: #24344b;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}

.message .background{
    position: absolute;
    background-color: #f75c54;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}
.success-login .background, .failed-login .background{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    top: 0;
    left: 0;
}

.success-login .background{
    background-color: #51a351;
}

.failed-login .background{
    background-color: #bd362f;
}

.login-message .content{
    padding: 10px 0;
    font-size: 15px;
}

.login-message .content i{
    margin-right: 5px;
    font-size: 20px;
}


:host {
    background-color: transparent;
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 10px !important;
    width: 300px;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    pointer-events: all;
    cursor: pointer;
}