<div class="row notification" *ngIf="message.newNotif">
  <div class="background"></div>
  <div class="col-md-3 pic-container">
      <img [src]="message.pic">
  </div>
  <div class="col-md-9 other-details">
      <span class="notif-title">New time in</span><br>
      <span class="notif-name">{{message.name.firstName + ' ' + message.name.lastName  | titlecase}}</span><br>
      <span class="notif-time">{{ (message.timeIn | amFromUnix) | amCalendar}}</span>
    </div>
</div>

<div class="row message" *ngIf="message.newMessage">
    <div class="background"></div>
  <div class="col-md-3 pic-container">
      <img [src]="message.pic">
  </div>
  <div class="col-md-9 other-details">
      <span class="sender-name">{{message.name.firstName + ' ' + message.name.lastName  | titlecase}}</span><br>
      <span class="message-content">{{message.content}}</span><br>
      <span class="message-time">{{ (message.sentAt | amFromUnix) | amCalendar}}</span>
    </div>
</div>

<div class="row success-login" *ngIf="message.successLogin">
  <div class="background"></div>
  <div class="col-md-12 login-message">
      <div class="content"><i class="fa fa-check" aria-hidden="true"></i> You successfully logged in</div>
  </div>
</div>


<div class="row failed-login" *ngIf="message.failedLogIn">
    <div class="background"></div>
    <div class="col-md-12 login-message">
        <div class="content"><i class="fa fa-times" aria-hidden="true"></i> Log in failed</div>
    </div>
  </div>
