
<div mat-dialog-title>
    <span>New Project</span>
    <mat-spinner [diameter]="20" *ngIf="modal.loading"></mat-spinner>
    <i class="fa fa-check" aria-hidden="true" *ngIf="modal.check"></i>
</div>


<div mat-dialog-content>
  <mat-form-field class="full-width">
    <input matInput [(ngModel)]="demo.name" placeholder="Demo Name" [disabled]="modal.disableControl">
    <mat-error>fdsf</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  
    <button mat-button color="warn" [mat-dialog-close] [disabled]="modal.disableControl">Cancel</button>
    <button mat-button color="primary" (click)="onCreateClick()" cdkFocusInitial [disabled]="modal.disableControl">Create</button>
  
</div>