<div class="col-md-2 main-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <p class="header">RECENT</p>
      </div>
    </div>

    <div class="row notifications-container">
      <div class="col-md-12 notification-container">

          <div class="row notification-item" [ngClass]="{'notification-seen': !notification.isSeen, 'notification-selected': notification.selected}" *ngFor="let notification of notifications" (click)="getNotifDetails(notification)">
              <div class="col-md-3 pic-container">
                  <img [src]="notification.pic" alt="chat-avatar">
              </div>
              <div class="col-md-9 other-details">
                  <p class="name">{{notification.name.firstName + ' ' + notification.name.lastName  | titlecase}}</p>
                  <p class="time">{{ (notification.timeIn | amFromUnix) | amCalendar}}</p>
                </div>
            </div>

            
        

        
          
      </div>
    </div>
  </div>

  
</div>