/* You can add global styles to this file, and also import other style files */
html, body, .main-container{
    height: 100%;
}

.map-container{
    height:100%;
    padding: 20px;
    padding-left: 10px;
}

.map-container agm-map{
    height: 100%;
}

.employee-log-map-container{
    padding: 0px 20px;
    height: 100%;
}

.employee-log-map-container h4{
    color: #24324c;
    font-weight: bold;
    border-bottom: solid 2px #e5e5e5;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.employee-container {
    height: 100%; padding-top:20px
}


.selfie-thumb {
    width: 100%;
    border-radius: 10px;
}

.logged-details{
    padding: 0;
}

.logged-details .row{
    padding: 0px 0px 10px 0px;
}

.logged-details .row.first-item{
    padding: 20px 0px 10px 0px;
}



.logged-details-info span{
    padding-left: 25px;
}

/* .logged-details-label{
    
} */



/* .logs-progress-bar .ng-progress{
    position: static !important;
} */