/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body, .main-container{
    height: 100%;
}

.map-container{
    height:100%;
    padding: 20px;
    padding-left: 10px;
}

.map-container agm-map{
    height: 100%;
}

.login-form{
    width: 100%;
}

.login-form input{
    color: #82b2be;
    font-size: 20px;
}

.login-form mat-form-field {
    display: block;
}

.login-form .mat-form-field-underline{
    background-color: #82b2be;
}

.login-form .mat-form-field-ripple {
    background-color: #82b2be;
}

.login-form .mat-form-field-label{
    color: white;
    font-size: 17px;
}